@page "/contador"

<PageTitle>Contador</PageTitle>

<h1>Contador</h1>

<p role="status">Contar Click: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Presioneme contador</button>