@page "/"
@page "/Index"

<PageTitle>Index</PageTitle>

@* <h1>Listado Alumnos</h1> *@
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1><b>CodeAcademy Pro</b></h1>
            <h4>
                ¡Bienvenidos a <b>CodeAcademy Pro</b>! Somos una plataforma dedicada a la enseñanza del desarrollo de software, creada por profesionales con más de 15 años de experiencia en el mundo de la tecnología.
                <br /><br />
                Nuestra misión es brindarte las herramientas y conocimientos necesarios para que puedas destacarte como desarrollador. Ofrecemos una amplia variedad de cursos en tecnologías clave como C#, TensorFlow, SQL, HTML y Python, entre muchas otras.
                <br /><br />
                Además, contamos con un canal de YouTube donde compartimos contenido educativo regularmente, abordando temas de programación, inteligencia artificial, bases de datos y tendencias tecnológicas.
                <br /><br />
                <b>Descubre las últimas novedades en desarrollo de software en este video:</b>
            </h4>
        </div>
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Fz8F8rSaNko"></iframe>
        </div>
    </div>
</div>
