<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<!-- Configurar los targets -->
	<!--fileName="C:/Temp/log_${shortdate}.log"-->
	<targets>
		<target name="allFile" xsi:type="File"
				fileName="C:\Users\santy\OneDrive\Escritorio\Cursos\Aprende a crear aplicaciones Blazor\Seccion 2\BlazorCursoUdemy\BlazorServer\Log/log_${shortdate}.log"
				layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${exception}"
				createDirs="true" />

		<target name="console" xsi:type="Console" />
	</targets>

	<!-- Reglas: mínimo nivel Trace para ver todo (puedes cambiar a Info o Error luego) -->
	<rules>
		<logger name="*" minlevel="Error" writeTo="allFile,console" />
	</rules>
</nlog>
